/* google font */
/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700/"); */
@import "./font/stylesheet.css";

/* layout */
:root {
    --primary: #934caf;
    --error: #e7195a;
}

body {
    /* background: #f1f1f1; */
    background-image: url("./pictures/main.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: "Leotaro";
}

header a {
    color: #ffffff;
    text-decoration: none;
}





/* new list form */


/* navbar */


/* auth forms */
form.signup,
form.login {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}