/* google font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700/");

/* layout */
:root {
    --primary: #934caf;
    --error: #e7195a;
}

body {
    background: #f1f1f1;
    margin: 0;
    font-family: "Montserrat";
}

header {
    background: #fff;
}

header .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #333;
    text-decoration: none;
}





/* new list form */


/* navbar */


/* auth forms */
form.signup,
form.login {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}