nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 10px;
}

nav button {
    background: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

div.user-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div {
    display: flex;
    padding: 10px 20px;
}

img.img {
    width: 5vw;
}

header .container {
    color: #ffffff;
    margin: 0 auto;
    padding: 10px 20px;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 15px;
    align-items: center;
    justify-content: space-between;
}

header .navbar {
    margin: auto;
    padding: 10px 10px;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 5px;
    align-items: center;
    justify-content: space-between;
    font-size: 1vw;
}

.vl {
    border-left: 1px solid rgb(255, 255, 255);
    height: 50px;
}